/* Imports */
@import url('styles/nav.css');
@import url('styles/call-to-action.css');
@import url('styles/about.css');
@import url('styles/services.css');
/* END Imports */

/* Apply to All */
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

body{
    box-sizing: border-box;
    background-color: rgb(178, 218, 178);
}
/* END Apply to All */