@import url('styles/landing.css');
@import url('styles/service-info.css');

:root{
    --color-one: #c1f6ed;
    --color-two: #02353c;

    --color-three: #449352;
    --color-four: #2eaf7d;
    --color-five: #3fd0c9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

p, h1{
    max-width: 900px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--color-one);
}

h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.section-break{
    width: 100%;
    height: 2vh;
    background-color: var(--color-two);
}