.accented{
    color: var(--color-five);
    font-weight: 500;
}

.service-buttons{
    display: grid;
}

.service{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.service h2{
    transition: ease-in 500ms;
    font-size: 1.5rem;
    color: var(--color-one);
}

.underline{
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--color-five);
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    z-index: 50;
}
.cta-container{
    color: var(--color-one);
}

.cta-button{
    width: 35%;
    height: 100%;
    border-radius: 10px;
    border: solid 2px var(--color-one);
    padding: 1rem;
    transition: ease-in 200ms;
}

.button-highlight{
    background-color: var(--color-five);
    color: var(--color-two);
    font-weight: bold;
    transition: ease-in 200ms;
}

.cta-button:hover{
    background-color: var(--color-five);
    transition: ease-in 500ms;
    filter: brightness(1.5);
    color: var(--color-two);
    font-weight: bold;
}


/* Small screens/Mobile View */
@media only screen and (max-width: 750px){
    .service-list{
        max-width: 90vw;
        /* Change List Styles */
        margin-left: 2rem;
    }

    .image-container{
        display: none;
    }

    .service h2{
        color: var(--color-four);
    }

    .cta-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        height: 70vh;
        width: 100vw;
        background-color: var(--color-two);
    }

    .cta-container h2{
        font-weight: 100;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .service-buttons{
        display: flex;
        flex-direction: column;
    }

    .service-row-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .service-row-2{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .service{
        width: 100vw!important;
    }

    .button-wrapper{
        display: flex;
        justify-content: space-around;
    
        margin-top: 15%;
        width: 100%;

        font-size: 0.8rem;
    }

    .service-row-1 .service:nth-child(1){
        background-color: var(--color-one);
    }

    .service-row-1 .service:nth-child(3){
        background-color: var(--color-one);
    }

    .service-row-2 .service:nth-child(2){
        background-color: var(--color-one);
    }
}

/* 1300px Resize */
@media only screen and (max-width: 1300px){
    .cta-container h1{
        font-size: 3rem;
    }

    .cta-container .accented{
        font-size: 4rem;
    }

    .cta-container .banner{
        height: 80px;
    }
}

/* 1050px Rezie */
@media only screen and (max-width: 1050px){
    .cta-container h1{
        font-size: 2rem;
    }

    .cta-container .accented{
        font-size: 4rem;
    }

    .cta-container .banner{
        margin-top: 15px;
        height: 80px;
    }

    .service-buttons{
        display: flex;
        flex-direction: column!important;
        justify-content: space-around;
        width: 100%;
    }

    .service-row-1{
        display: flex;
        justify-content: space-around;
    }

    .service-row-2{
        display: flex;
        justify-content: space-around;
    }

    .service{
        width: 30vw;
        height: 10vh!important;
    }

    .banner h2{
        font-size: 1.5rem!important;
    }
}

/* Large screens/Desktop View */
@media only screen and (min-width: 751px){
    .banner{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        height: 5rem;
        width: 20px;
        border-radius: 10px;
        background-color: var(--color-five);
        animation: slogan 40s linear infinite;
    }

    .banner h2{
        color: var(--color-two);
        font-size: 2rem;
        animation: sloganText 40s linear infinite;
    }

    .cta-container h1{
        margin-top: 3%;
        margin-left: 10%;
    }

    @keyframes sloganText{
        0%{
            opacity: 0;
        }
        27%{
            opacity: 0;
        }
        30%{
            opacity: 1;
        }
        40%{
            opacity: 1;
        }
        45%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
    }
    
    @keyframes slogan {
        0%{
            width: 20px;
        }
        20%{
            width: 20px;
        }
        25%{
            width: 100%;
        }
        45%{
            width: 100%;
        }
        50%{
            width: 20px;
        }
        100%{
            width: 20px;
        }
    }

    .landing{
        height: 100vh;
    }

    .inactive-page{
        width: 100%;
        height: 0;
        transition: ease 0.5s;
    }

    .landing-dark{
        position: fixed;
        z-index: 490;
        background-color: black;
        height: 100vh;
        width: 100%;
        opacity: 0.7;
        transition: ease 1.5s;
    }

    .image-container{
        height: 70vh;
    }
    
    .image-container img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 1920px;
    }
    
    .image-container::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 30vh;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,rgba(42, 126, 122, 0) 0%, var(--color-two) 100%);
        z-index: 50;
        max-width: 1920px;
    }
    
    .cta-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-one);
        width: 60%;
        left: 10vw;
        bottom: 55vh;
        z-index: +100;

    }

    .button-wrapper{
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        width: 100%;
        max-width: 700px;
    }

    .button-highlight{
        margin-left: 10%;
    }
    
    .service-buttons{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: +5;
        height: 30vh;
        width: 100%;
        background-color: var(--color-two);
        max-width: 1920px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .service-row-1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    
    .service-row-2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .service{
        transition: ease-in 500ms;
        height: 60%;
        color: var(--color-one);
        border-radius: 16px;
    }

    .service:hover{
        cursor: pointer;
        
        background-color: var(--color-one);
    }

    .service:hover h2{
        transition: ease-in 500ms;
        color: var(--color-four);
    }

    .service:nth-child(1) p{
        color: var(--color-two);
    }
    
    .service:nth-child(3) p{
        color: var(--color-two);
    }

    .service:nth-child(5) p{
        color: var(--color-two);
    }
}
