.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

/* Large Screens */
@media only screen and (min-width: 900px){
    .mobile-nav-list{
        display: none;
    }

    .logo{
        height: 100%;
        width: 300px;
        background-color: rgb(57, 170, 42);
    }
    
    .nav-list{
        list-style: none;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    
    .list-item{
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
    }
    .list-item:hover{
        cursor: pointer;
    }

    .underline-slider{
        width: 0;
        height: 2px;
        background-color: rgb(25, 197, 25);
        transition: width 1s ease;
    }

    .nav-list li:hover .underline-slider{
        width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 900px){
    .nav-list{
        display: none;
    }
}

