.navbar{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 8vh;
    z-index: 100;
    max-width: 1920px;
}

.hamburger{
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 250;
    cursor: pointer;
}

.hamburger div{
    width: 35px;
    height: 4px;
    background-color: var(--color-one);
    margin: 5px;
    transition: all 0.3s ease;
}

body{
    overflow-x: hidden;
}
.navbar ul {
    z-index: 210;
    position: absolute;
    right: 0px;
    height: 50vh;
    width: 30%;
    background-color: var(--color-four);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    list-style: none;
    border-radius: 16px 0px 16px 16px;
    transform: translateX(400%);
    transition: transform 0.5s ease-in;
}

.navbar li{
    opacity: 0;
    font-size: 2rem;
    z-index: 400;
    color: var(--color-one);
}

.nav-active{
    transform: translateX(0%)!important;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 700px){
    .navbar li{
        font-size: 1rem;
        margin-top: 2rem;
    }
    .navbar ul{
        width: 100%;
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-6px, 7px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px, -7px);
}
